.card {
    background: #e8ed58;
    text-shadow: 1px 1px 1px #217c36;
    box-shadow: 2px 2px 3px #217c36;
    font-size: 90%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 1px;
    display: inline-flex;
    justify-content: space-between;
}

#task {
    width: 85%;
}

#dlt_btn {
    height: 50%;
}
